
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Style+Script&display=swap');

.portfolio .section-title { margin-block-end: 18px; }

.portfolio .section-text { margin-block-end: 80px; }

.portfolio-list {
  display: grid;
  gap: 60px;
}

.portfolio-card {
  background-color: var(--independence);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  border-radius: var(--radius-20);
  font-family: var(--ff-barlow);
  color: var(--white);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.portfolio-list > li:nth-child(even) .card-content { margin-inline-start: auto; }

.portfolio-card .card-subtitle {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.portfolio-card .card-title {
  max-width: 20ch;
  margin-block-end: 20px;
}

.portfolio-card .btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-6);
  text-transform: uppercase;
}

.portfolio-card .btn-link ion-icon {
  color: var(--orange-soda);
  font-size: 1.6rem;
}


/* HomeSection.css */

.fade-in {
  transition:1s ease-in-out;
  transition: .5s ease;
}

.fade-in.active {
  opacity: 1;
}
